mat-sidenav-content {
  height: 100vh;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

#add-button {
  margin-left: 1rem;
  margin-top: 1rem;
}
