<div *ngIf="title$ | async as title; else nonexistent">
  <app-toolbar [title]="title" [targetSideNav]="sidenav"></app-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content layout="column" flex class="md-padding">
      <label for="file">File:</label>
      <h2 class="mat-display-2">File:</h2>
      <input type="file" (change)="upload($event)" />
      <progress max="100" [value]="uploadProgress | async"></progress>
      <div class="result" *ngIf="downloadUrl | async; let uploadSrc">
        <a [href]="uploadSrc">You just uploaded this file!</a>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
