<div *ngIf="title$ | async as title">
  <app-toolbar [title]="title" [targetSideNav]="sidenav"></app-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content layout="column" flex class="md-padding">
      <div class="some-page-wrapper">
        <div class="row">
          <div class="column">
            <h2 mat-heading-2 class="details-heading">Server Information</h2>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="column">
            <div>
              <h2 mat-heading-2 class="details-heading">Files</h2>
              <div>
                <input
                  id="fileUpload"
                  type="file"
                  (change)="selectFile($event)"
                />
                <button
                  mat-stroked-button
                  id="uploadButton"
                  [disabled]="!fileSelected"
                  (click)="uploadFile()"
                >
                  Upload
                </button>
              </div>
              <progress max="100" [value]="uploadProgress | async"></progress>
              <div class="result" *ngIf="downloadUrl | async; else notUploaded">
                <a [href]="newUrl">You just uploaded this file!</a>
              </div>
              <ng-template #notUploaded><br /></ng-template>
              <br />
              <mat-divider></mat-divider>
              <div id="server-files">
                <mat-list>
                  <mat-list-item *ngFor="let file of serverFiles$ | async">
                    <mat-icon matListIcon>description</mat-icon>
                    <a matLine href="{{ file.downloadUrl }}">{{ file.name }}</a>
                    <div fxFlex></div>
                    <button
                      mat-icon-button
                      matTooltip="Delete file"
                      matTooltipPosition="left"
                      (click)="deleteFile(file.uid)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
