<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>{{ displayName }}</mat-card-title>
    <mat-card-subtitle>{{ address }}</mat-card-subtitle>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <p>Uptime: 23h 14m</p>
    <p>Memory usage: 45%</p>
    <p>CPU usage: 35%</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button routerLink="/servers/{{ uid }}" color="primary">
      Details
    </button>
    <div fxFlex></div>
    <button
      mat-icon-button
      matTooltip="Delete server"
      matTooltipPosition="below"
      (click)="deleteServer()"
      color="primary"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
