<mat-toolbar color="primary">
  <div *ngIf="auth.user$ | async as user; else notLoggedIn">
    <button mat-flat-button (click)="targetSideNav.toggle()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div *ngIf="loading; else notLoading" class="auth-button">
    <mat-spinner
      color="secondary"
      mode="indeterminate"
      class="spinner"
      strokeWidth="5"
      [diameter]="50"
    >
    </mat-spinner>
  </div>

  <ng-template #notLoading class="auth-button">
    <div *ngIf="auth.user$ | async as user; else login">
      <button mat-raised-button (click)="auth.signOut()" color="primary">
        Sign Out
      </button>
    </div>

    <ng-template #login>
      <button mat-raised-button (click)="googleSignIn()" color="primary">
        Login with Google
      </button>
    </ng-template>
  </ng-template>
</mat-toolbar>
